*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



.navbar{
    background: #EC4D37;

}
.navbar a{
    color: #fff;
    padding: 1rem;
    display:inline-block;
    text-decoration: none;
}
.navbar .icon{
    display: none;
}
@media screen and (max-width:600px){
    .navbar a:not(:first-child){
        display: none;
    }
}
.navbar a.icon{
    display: block !important;
    float: right !important;
}
    @media screen and (max-width:600px) {
        .navbar.responsive{
            position: relative;
        }
        

    .navbar.navbar.responsive .icon{
        position: absolute;
        top: 0;
        right: 0;
    }
        .navbar.responsive a{
        display: block;
        float: none;
        text-align: left;
    }
}
 
    
